.main-nav {
  text-align: center;
  font-size: 22px;
}

.main-nav-list {
  list-style: none;
  display: inline-block;
  margin: 10px 0 0 0;
  padding: 10px;
  // background-color: rgba(0, 123, 255, 0.1);

}

.main-nav-list__item {
  display: inline-block;
  padding: 5px 15px;
  text-transform: uppercase;
  font-weight: 700;
  
  span {
    cursor: pointer;
  }
}
