@import "/../../node_modules/bootstrap/scss/bootstrap.scss";

$primary-blue: #044299;
$primary-gray: #525252;
$light-gray: #f7f7f7;

html {
    scroll-behavior: smooth;
}

html, body, #app {
    height: 100%;
}

body {
    background-color: $light-gray;
    font-family: 'Play', sans-serif;
    color: $primary-gray;
    padding-top: 66px;
}

.page-section {
    margin: 125px 0;
    padding: 75px 0;

}

.home-screen {
    min-height: 75%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/images/main-4.jpg');
    color: $light-gray;
    font-size: 36px;
}

.page-content-text {
    font-size: 20px;
    text-align: justify;
}

h2 {
    color: $primary-blue;
    text-transform: uppercase;
    font-weight: bold;
}

.page-divider {
    width: 100% !important;
    border-bottom: 3px solid $primary-blue;
    margin: 0 15px 45px 15px;

    &.page-divider_bottom {
        padding-top: 45px;
    }
}

.home-screen__content {
    max-width: 768px;
    margin: auto;
}

.home-screen__descriptions {
    opacity: 0.9;
    font-weight: bold;
}

.divider_50 {
    height: 50px;
}

.contacts {
    font-size: 14px;
    margin-bottom: 0;

    p:last-child {
        margin-bottom: 0;
    }

    span {
        white-space: nowrap;
    }

    a {
        color: $light-gray;
    }

}

.contacts-wrapper {
    padding: 50px 0;
    background-color: $primary-blue;
    color: $light-gray;

    .logo-wrapper {
        text-align: right;
    }
}

.section-nav {
    list-style: none;
    margin: 0;
    margin-top: 50px;
    padding: 0;
    font-size: 18px;
    text-transform: uppercase;
    text-align: left;
    line-height: 1;

    .section-nav__link {
        padding-right: 20px;
    }

    li {
        display: table;
        width: 100%;
    }
    
    li:not(:last-child) {
        margin-bottom: 20px;
    }

    a {
        display: table-row;
        width: 100%;

        span {
            display: table-cell;
        }
    }

    .section-nav-arrow {
        text-align: right;
    }
}

@media screen and (max-width: 480px) {
    body {
        padding-top: 56px;
    }

    .brand-name {
        font-size: 48px;
    }

    .home-screen__descriptions {
        font-size: 24px;
    }

    .contacts-wrapper {
        text-align: center;

        .logo-wrapper {
            text-align: center;
            margin-top: 50px;
        }
    }

    .page-section {
        margin: 50px 0;
    
    }
}