@import "/../../node_modules/bootstrap/scss/bootstrap.scss";

html, body, #app {
    height: 100%;
}

body {
    background-color: #fff;
    font-family: 'Play', sans-serif;
    color: #525252;
}

.home-screen {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/images/home-screen.jpg');
}

.page-content-text {
    font-size: 32px;
    text-align: justify;
}

h2 {
    color: #f4645f;
}

.site-brand {
    font-size: 122px;
    font-weight: 700;
}